/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #1e293b, #334155);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);

  padding: 30px;
  width: 440px; /* 🔥 bigger */
  height:400px;

  border-radius: 18px;

  display: flex;
  flex-direction: column;
  gap: 18px;

  box-shadow: 0 12px 40px rgba(0,0,0,0.4);
  color: #f1f5f9;
}

/* Title */
h1 {
  text-align: center;
  font-size: 22px;
}

.subtitle {
  text-align: center;
  font-size: 13px;
  color: #cbd5f5;
}

/* Inputs */
.input-box input,
.input-box select {
  width: 100%;
  padding: 12px;

  border-radius: 10px;
  border: 1px solid #475569;

  background: #020617;
  color: #e2e8f0;

  font-size: 15px;
}

/* Button */
button {
  padding: 12px;
  border-radius: 10px;
  border: none;

  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: white;

  font-size: 15px;
  font-weight: 500;

  cursor: pointer;
  transition: 0.3s;
}

/* Hover */
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(139,92,246,0.4);
}

/* Output */
.output-box {
  background: #020617;
  padding: 14px;
  border-radius: 10px;

  font-size: 14px;
  text-align: center;

  min-height: 50px;
}